<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else if page.title%}{{page.title}}{% else%}{{ site.description }}{% endif %}">

  <meta name="keywords" content="{{ site.keyword }}">

  <link rel="shortcut icon"
    href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AJycnAAAw/8A/wC7AP+EAAA7OzsAUlJSAICAgABPT08AAAD/AL29vQAA/xEAAP/yAKioqAAAAAAAAAAAAAAAAAABEREREREREAEQAAAAAAEEABAAAAAAAUQAAQAAAAARVQABAAAAdhFcEAEQAAhxHM0RABAAKJEd0xEREbsoEdM6ABERuygROqAAAAEb4RqgAAAAARABEAAAAAAAEREAAAAAAAABEAAAAAAAAAEQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
    type="image/x-icon" />
  <style>
    .post-content h1,
    .post-content h2,
    .post-content h3 {
      margin-top: 30px;
    }

    ol>li {
      padding-bottom: 20px;
    }

    ul>li {
      padding-top: 3px;
      padding-bottom: 3px;
      margin-top: 3px;
    }

  </style>

</head>
