<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "zh-cmn-Hans" }}">
{%- include head.html -%}

<body>

  {%- include header.html -%}
  {% if page.header-img %}
  <!-- MDN web docs
        object-position
        https://developer.mozilla.org/zh-CN/docs/Web/CSS/object-position
   -->
  <img class=title_image src="{{ page.header-img }}" style="object-fit: cover; max-height: 50vw;
{% if page.header-img-height %}height: {{ page.header-img-height }};{% else %}height: 400px;{% endif %}
{% if page.header-img-object-position %}object-position: {{page.header-img-object-position}};{% endif %}">
  {% endif %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
